<div class="container comments">
  <% @comments.each do |comment| %>
    <div class="row">
      <hr>
      <p>
        <!-- this is dope, it prevents an error of class NIL being raised if a user posted a comment AND then deleted their account -->
        <%= comment.user.try(:first_name) %>
        <small>
        <%= "#{time_ago_in_words(comment.created_at)} ago" %>
        </small>
      </p>
      <p>
        <div class="rated" data-score="<%=comment.rating%>"></div>
      </p>
      <p>
        <%= comment.body %>
      </p>
      <% if signed_in? && current_user.admin? %>
        <%= link_to product_comment_path(@product, comment), method: :delete  do %>
        <h3 class= "glyphicon glyphicon-remove"></h3>
      <% end %>
    <% end %>
    </div>
  <% end %>
</div>
