<div class="row">
  <hr>
  <p>
    <!-- this is dope, it prevents an error of class NIL being raised if a user posted a comment AND then deleted their account -->
    <%= comment.user.try(:first_name) %>
    <small>
    <%= "#{time_ago_in_words(comment.created_at)} ago" %>
    </small>
    <% if signed_in? && current_user.admin? %>
      <%= link_to ('<span class="glyphicon glyphicon-remove"></span>').html_safe, product_comment_path(@product, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
      
    <% end %>
  </p>
  <div class="rated" data-score="<%= comment.rating %>"></div>
  <p><%= comment.body %></p>
</div>