<div class="container product-reviews">
  <%= @comment.each do |comment| %>
    <div class="row">
      <hr>
      <p>
        <%= comment.user.first_name %>
      </p>
      <p><small>
        <%= "#{time_ago_in_words(comment.created_at)} ago" %>
      </small></p>
      <p>
        <%= "Rating: #{comment.rating}/5" %> 
      </p>
      <p>
        <%= comment.body %>
      </p>
    </div>
  <% end %>
</div>