<div class="col-lg-3">
  <%= link_to (image_tag(product.image_url)) , product, class: "img-reponsive" %>
    <div class="container text-center">
      <h5> <%= product.name %> </h5>
      <h5><strong>$ <%= product.price %> </strong></h5>
    </div>
    <div class="products_options text-center">
      <span><%= link_to 'Edit', edit_product_path(product) %></span> |
      <span><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></span>
    </div>
</div>
