<div class="container-fluid">
  <div class="search-bar">
    <%= form_tag("/products", method: "get") do %>
      <%= text_field_tag(:q, nil, placeholder: "Find a product", class: "form-control input-lg text-center") %>
    <% end %>
  </div>
  <div class="">
    <p id="notice">
      <%= notice %>
    </p>
    <% @products.each do |product| %>
      <%= render product %>
    <% end %>
  </div>
  <div class="container text-center footer">
    <%= will_paginate @products %>
    <br>
    <% if signed_in? && current_user.admin? %>
      <%= link_to 'New Product', new_product_path, class: "btn btn-success" %>
    <% end %>
  </div>
</div>
