<div class="col-md-6 center text-center">
  <div class="container">
    <div class="header-spacing">
      <%= image_tag(@product.image_url, class:" img-responsive center") %>
    </div>

    <h2>
      <%= @product.name %>
    </h2>

    <h4>
      <%= @product.desc %>
    </h4>

    <h4>
      <%= @product.style %>
    </h4>

    <h4 class="rated" data-score="<%= @product.average_rating %>">
    </h4>

    <h4>
      <strong>$<%= @product.price %></strong>
    </h4>
  </div>
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
  <%= render 'comments/new_comment' %>
  <%= render 'comments/comments' %>
  <%= will_paginate @comments %>
</div>